.feature-container{
  max-width:1200px;
  margin:auto;
  padding:0 20px;
}
.feature-flex-container{
  padding:28px 0;
}
.plr-10{
  padding:0 10px;
}
.mlr-10{
  margin:0 -10px;
}
.align-center{
  align-items:center;
}
span.feature-heading{
  color:#fff;
  display:block;
  font-size: 12px;
  font-weight: 600;
}
 span.feature-subtitle{
    color:#dbd8d8;
    display:block;
   font-size: 13px;
}
 span.feature-subtitle,  span.feature-heading{
    font-family:sans-serif;
}


@media(max-width:600px){
  .col-sm-12{
    width:100%;
  }
  .row-wrap{
    flex-wrap:wrap;
  }
}
@media(max-width:425px){
  #shopify-section-template--23586181546265__image_banner .banner__media {
    height: 420px;
}
}